#dropbox {
	height:300px;
	width: 500px;
	margin: auto;
	display: block;
	border-style: dotted;
	border-width: 10px;
	text-align: center;
	vertical-align: center;
	font-size: 3em;
	font-family: sans-serif;
}

.no_hover {
	border-color: gray;
}

.hover {
	border-color: black;
}